.all {
  width: 100vw;
  height: 100vh;
  background: white;
}
.divBookDetails {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-top: 65px;
}

.divInnerBookDetails {
  max-width: 30vw;
  padding-top: 20px;
  background-color: #ffe207;
  margin-top: -65px;
}
.divInnerBookDetails img {
  margin: 0px 20px 0px 20px;
  box-shadow: 0px 5px 30px rgb(78, 76, 76);
  max-width: 100px;
  max-height: 140px;
}
.divDescription {
  background-color: #ffffff;
  margin-left: 20px;
  max-width: 30vw;
  padding: 20px;
  height: auto;
  border-radius: 20px;
  max-width: 100vw;
  height: 100%;
  border-radius: 0;
  font-size: 14px;
  color: #49494b;
  line-height: 2;
}
.ByFor {
  font-size: 13px;
  color: #cdb507;
}
.bottomMoreInfos {
  display: flex;
  margin: 30px 0px 0px 0px;
  align-items: center;
}
.divButtons {
  padding: 20px;
  display: flex;
  justify-content: space-around;
}
.myButton {
  border: 1px solid #549ae6;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 42px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #549ae6;
  border-radius: 20px;
  background-color: #549ae6;
  margin-top: 6px;
}
.myButton:active {
  position: relative;
  top: 1px;
}
.pictureTitle {
  display: flex;
}
.PagesBuyContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 20px;
}
.BuyFavorite {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.spanHeartOff {
  display: flex;
  align-items: center;
  margin-left: 10px;
  width: 36px;
  height: 38px;
  justify-content: center;
  background: #ffe207;
  border-radius: 100%;
  color: white;
  border-color: white;
  border: 1px solid;
  margin-bottom: 14px;
}
.spanHeartOn {
  display: flex;
  align-items: center;
  margin-left: 10px;
  width: 36px;
  height: 38px;
  justify-content: center;
  background: #e05568;
  border-radius: 100%;
  color: white;
  margin-bottom: 14px;
}
.QuantityPages {
  font-size: 13px;
  color: #cdb507;
  margin-left: 15px;
  margin-bottom: 25px;
}
.moreInfosTitle {
  font-size: 20px;
  color: #483f02;
}
.moreInfos {
  margin-right: 20px;
}
.StarGroup {
  margin-left: 10px;
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #574c04;
}
.ratingStars {
  margin-left: 10px;
}
.divPrice {
  margin-top: 2px;
  display: flex;
  font-weight: bold;
  color: #483f02;
}
.gif {
  display: flex;
  margin: 0 auto;
}

@media screen and (max-width: 3000px) {
  .divBookDetails {
    flex-direction: column;
    align-items: center;
  }
  .divDescription {
    margin-left: 0;
  }
  .divInnerBookDetails {
    width: 60vw;
    max-width: 60vw;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .divDescription {
    max-width: 60vw;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  .all {
    background: #ffe207;
  }
}
@media screen and (max-width: 1100px) {
  .divInnerBookDetails {
    width: 70vw;
    max-width: 70vw;
  }

  .divDescription {
    max-width: 70vw;
  }
  .all {
    background: #ffe207;
  }
}
@media screen and (max-width: 550px) {
  .divInnerBookDetails {
    width: 100vw;
    max-width: 100vw;
  }

  .divDescription {
    max-width: 100vw;
    height: 60%;
  }
  .all {
    background: white;
  }
}
