.all{
    width: 100vw;
    height: 100vh;
    background: white;
}
.divBookDetails{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.divInnerBookDetails{
    max-width: 30vw;
    padding-top: 20px;
    background-color: #FFE207 ;
    margin-top: -65px;
}
.divInnerBookDetails img{
    padding: 0px 20px;
}
.divDescription{
    background-color: #FFFFFF ; 
    margin-left: 20px;
    max-width: 30vw;
    padding: 20px;
    height: auto;
    border-radius: 20px;
    max-width: 100vw;
    height: 100%;
    border-radius: 0;
}
.ByFor{
    font-size: 13px;
    color: #CDB507;
}
.bottomMoreInfos{
    display: flex;
    margin: 30px 0px 0px 0px;
}
.divButtons{
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
.myButton {
	box-shadow:inset 0px 1px 0px 0px #a958d1;
	background:linear-gradient(to bottom, #a161eb 5%, #49349e 100%);
	background-color:#a161eb;
	border-radius:6px;
	border:1px solid #513d75;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #76399e;
}
.myButton:hover {
	background:linear-gradient(to bottom, #49349e 5%, #a161eb 100%);
	background-color:#49349e;
}
.myButton:active{
	position:relative;
	top:1px;
}
.pictureTitle{
    display: flex;
}
.PagesBuyContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 20px;
}
.BuyFavorite{
    display: flex;
    justify-content: center;
    align-items: center;
}
.spanHeartOff{
    display: flex;
    align-items: center;
    margin-left: 10px;
    width: 36px;
    height: 38px;
    justify-content: center;
    background: #FFE207;
    border-radius: 100%;
    color: white;
    border-color: white;
    border: 1px solid;
}
.spanHeartOn{
    display: flex;
    align-items: center;
    margin-left: 10px;
    width: 36px;
    height: 38px;
    justify-content: center;
    background: red;
    border-radius: 100%;
    color: white;
}
.QuantityPages{
    font-size: 13px;
    color: #CDB507;
}


@media screen and (max-width:1334px){
    .divBookDetails{
        flex-direction: column;
        align-items: center;
    }
    .divDescription{
        margin-left: 0;
    }
    .divInnerBookDetails{
        width: 60vw;
        max-width: 60vw;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
  
    .divDescription{
        max-width: 60vw;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
     
    }

}
@media screen and (max-width:1100px){
    .divInnerBookDetails{
        width: 70vw;
        max-width: 70vw;
    }
  
    .divDescription{
        max-width: 70vw;
     
    }
}
@media screen and (max-width:550px){
    .divInnerBookDetails{
        width: 100vw;
        max-width: 100vw;
    }
  
    .divDescription{
        max-width: 100vw;
        height: 60%;;
    }
}