.divBookList{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    width: 70%;
    margin: 0 auto;
}
.pTotal{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

@media screen  and (max-width: 1274px){
    .divBookList{
        grid-template-columns: 1fr 1fr;
       
    }    

}
@media screen  and (max-width: 845px){ 
    .divBookList{
        width: 90%;
      
    }

}
@media screen  and (max-width: 645px){
    .divBookList{
        grid-template-columns: 1fr;
        width: 90%;
    }    

}