.divBookList{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 30px;
    margin: 30px auto;
}
.pTotal{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

@media screen  and (max-width: 1274px){
    .divBookList{
        grid-template-columns: 1fr 1fr 1fr;
       
    }    

}
@media screen  and (max-width: 845px){ 

}
@media screen  and (max-width: 500px){
    .divBookList{
        grid-template-columns: 1fr 1fr;
        width: 90%;
    }    

}