.divBookList{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    width: 70%;
    margin: 0 auto;
}
.pTotal{
    display: flex;
    justify-content: center;
}