.divFinderBar{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    height: 70px;
    background-color: #FFE207;
}

.divToAfter{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 40px;
}
.after{
    margin: 0 auto;
    height: 2px;
    width: 125px;
    background-color: #F2D70B;
    margin-top: 10px;
}
.esconder{
    display: none;
}
.divFinder{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 65px;
}
.divFinder .fotoSearch{
    padding-top: 170px;
}
.gif{
    width: 60px;
    margin-bottom: 20px;
}
.inputFinder{
    height: 50px;
    width: 260px;
    background-color: white;
    border: 0;
    box-shadow: 0 0 0 0;
    outline: 0;
    padding-left: 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #FFE207;
    text-align: center;
    font-size: 18px;
}
input[type=text]:focus {
    background-color: #FFE207;
  }
.buttonFinder{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #FFE207;
    color: #877703;
    font-size: 25px;
}
.Buttonback{
    width: 5%;
    margin-left: 20px;
    font-size: 20px;
    color: #9D8B04;
}
.menu{
    font-size: 22px;
    text-align: center;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7F7002;
    margin-left: 17px;
}
.inputFinder:focus{
    border: 0;
    background-color: white;
}
.menuIten{
    text-decoration: none;
    color: black;
    padding: 10px 0;
}
.menuItens{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 20px;
}
side-drawer {
    background-color: #FFE207;
    color: inherit;
    width: 350px;
    max-width: 75vw;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
#d{
    width: 5vw !important; 
}
.imageNotFoundSearch{
    max-width: 100px;
}
.notFoundSearch{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
