.divPrincipalHome{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 250px auto;
}
.p1{
    font-size: 3rem;
}
.wordBook{
    color: #41367a;
}
.myButton {
	border:1px solid #549AE6;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:10px 42px;
	text-decoration:none;
  text-shadow:0px 1px 0px #549AE6;
  border-radius: 20px;
	background-color: #549AE6;
	margin-bottom: 20px;
	}
.myButton:active {
	position:relative;
	top:1px;
}
@media screen and (max-width: 760px){
	.divPrincipalHome{
		flex-direction: column;
	}
	.p1{
		text-align: center;
	}
	.p2{
		text-align: center;
	}
	.divConteudoHome{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	

}
