.divPrincipalHome{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 250px auto;
}
.p1{
    font-size: 3rem;
}
.wordBook{
    color: #41367a;
}
.myButton {
	box-shadow:inset 0px 1px 0px 0px #a958d1;
	background:linear-gradient(to bottom, #a161eb 5%, #49349e 100%);
	background-color:#a161eb;
	border-radius:6px;
	border:1px solid #513d75;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #76399e;
	margin-bottom: 20px;
}
.myButton:hover {
	background:linear-gradient(to bottom, #49349e 5%, #a161eb 100%);
	background-color:#49349e;
}
.myButton:active {
	position:relative;
	top:1px;
}
@media screen and (max-width: 760px){
	.divPrincipalHome{
		flex-direction: column;
	}
	.p1{
		text-align: center;
	}
	.p2{
		text-align: center;
	}
	.divConteudoHome{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	

}
